/* Home */

position: relative;
width: 1440px;
height: 921px;

background: #FFFFFF;


/* Logo */

position: absolute;
width: 225px;
height: 45px;
left: 102px;
top: 57px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 45px;
/* identical to box height */

color: #000000;

border: 1px solid #000000;


/* Home */

position: absolute;
width: 49px;
height: 21px;
left: 797px;
top: 65px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #000000;



/* Scroll Down */

position: absolute;
width: 96px;
height: 21px;
left: 663px;
top: 766px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #000000;



/* Shop */

position: absolute;
width: 42px;
height: 21px;
left: 888px;
top: 65px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #000000;



/* About */

position: absolute;
width: 49px;
height: 21px;
left: 1047px;
top: 65px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #000000;



/* FAQ */

position: absolute;
width: 33px;
height: 21px;
left: 972px;
top: 66px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #000000;



/* Contact */

position: absolute;
width: 64px;
height: 21px;
left: 1129px;
top: 65px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #000000;



/* Group 1 */

position: absolute;
width: 101px;
height: 44px;
left: 1238px;
top: 54px;



/* Rectangle 1 */

position: absolute;
width: 101px;
height: 44px;
left: 1238px;
top: 54px;

background: #000000;


/* Login */

position: absolute;
width: 45px;
height: 21px;
left: 1266px;
top: 64px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #FFFFFF;



/* Header Info */

position: absolute;
width: 654px;
height: 324px;
left: 78px;
top: 287px;



/* Welcome To Our Hello Shop World */

position: absolute;
width: 654px;
height: 158px;
left: 78px;
top: 287px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 131.19%;
/* or 79px */

color: #000000;



/* Hello Shop is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet. */

position: absolute;
width: 629px;
height: 70px;
left: 78px;
top: 464px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 196.69%;
/* or 35px */

color: #000000;



/* Group 2 */

position: absolute;
width: 162.43px;
height: 44px;
left: 78px;
top: 567px;



/* Rectangle 1 */

position: absolute;
width: 162.43px;
height: 44px;
left: 78px;
top: 567px;

background: #000000;


/* SHOP NOW */

position: absolute;
width: 98.31px;
height: 21px;
left: 107.92px;
top: 578px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #FFFFFF;



/* Group 3 */

position: absolute;
width: 162.43px;
height: 44px;
left: 256.46px;
top: 567px;



/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 162.43px;
height: 44px;
left: 256.46px;
top: 567px;

border: 1px solid #000000;


/* Contact US */

position: absolute;
width: 97.25px;
height: 21px;
left: 286.38px;
top: 578px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #000000;



/* Vector */

position: absolute;
left: 48.54%;
right: 49.86%;
top: 86.86%;
bottom: 11.97%;

background: #212121;


/* Header Banner */

position: absolute;
left: 47.64%;
right: 5.45%;
top: 23.13%;
bottom: 27%;



/* Layer 1 */

position: absolute;
left: 47.64%;
right: 5.45%;
top: 23.13%;
bottom: 27%;



/* Vector */

position: absolute;
left: 89.15%;
right: 8.68%;
top: 62.71%;
bottom: 27.89%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 90.14%;
right: 9.52%;
top: 63.48%;
bottom: 27.88%;

background: #50D171;


/* Vector */

position: absolute;
left: 87.27%;
right: 9.83%;
top: 66.04%;
bottom: 28.43%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 87.91%;
right: 9.82%;
top: 66.76%;
bottom: 28.41%;

background: #50D171;


/* Vector */

position: absolute;
left: 90.37%;
right: 6.73%;
top: 66.26%;
bottom: 28.22%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 90.37%;
right: 7.36%;
top: 66.98%;
bottom: 28.2%;

background: #50D171;


/* Vector */

position: absolute;
left: 90.43%;
right: 7.19%;
top: 69.21%;
bottom: 27.88%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 90.42%;
right: 7.59%;
top: 69.71%;
bottom: 27.86%;

background: #50D171;


/* Vector */

position: absolute;
left: 88.09%;
right: 9.54%;
top: 69.23%;
bottom: 27.86%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 88.49%;
right: 9.52%;
top: 69.73%;
bottom: 27.83%;

background: #50D171;


/* Vector */

position: absolute;
left: 88.46%;
right: 5.67%;
top: 70.56%;
bottom: 27.76%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 49.51%;
right: 48.31%;
top: 62.71%;
bottom: 27.89%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 50.51%;
right: 49.16%;
top: 63.48%;
bottom: 27.88%;

background: #50D171;


/* Vector */

position: absolute;
left: 47.64%;
right: 49.47%;
top: 66.04%;
bottom: 28.43%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 48.27%;
right: 49.46%;
top: 66.76%;
bottom: 28.41%;

background: #50D171;


/* Vector */

position: absolute;
left: 50.74%;
right: 46.37%;
top: 66.26%;
bottom: 28.22%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 50.73%;
right: 47%;
top: 66.98%;
bottom: 28.2%;

background: #50D171;


/* Vector */

position: absolute;
left: 50.8%;
right: 46.83%;
top: 69.21%;
bottom: 27.88%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 50.78%;
right: 47.23%;
top: 69.71%;
bottom: 27.86%;

background: #50D171;


/* Vector */

position: absolute;
left: 48.46%;
right: 49.17%;
top: 69.23%;
bottom: 27.86%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 48.86%;
right: 49.15%;
top: 69.73%;
bottom: 27.83%;

background: #50D171;


/* Vector */

position: absolute;
left: 48.83%;
right: 45.3%;
top: 70.56%;
bottom: 27.76%;

background: #ADEAC9;


/* Vector */

position: absolute;
left: 55.26%;
right: 9.79%;
top: 28.56%;
bottom: 68.13%;

background: #76DFFF;


/* Vector */

position: absolute;
left: 55.26%;
right: 9.79%;
top: 31.87%;
bottom: 27.83%;

background: #E6F6FF;


/* Vector */

position: absolute;
left: 79.29%;
right: 11.25%;
top: 46.01%;
bottom: 44.92%;

background: #76DFFF;


/* Vector */

position: absolute;
left: 80.12%;
right: 17.18%;
top: 47.02%;
bottom: 48.76%;

background: #FFAB2F;


/* Vector */

position: absolute;
left: 83.38%;
right: 11.79%;
top: 48.55%;
bottom: 50.29%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.12%;
right: 11.79%;
top: 52.42%;
bottom: 46.42%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.29%;
right: 11.25%;
top: 34.23%;
bottom: 56.7%;

background: #76DFFF;


/* Vector */

position: absolute;
left: 80.12%;
right: 17.18%;
top: 35.23%;
bottom: 60.55%;

background: #FFAB2F;


/* Vector */

position: absolute;
left: 83.38%;
right: 11.79%;
top: 36.76%;
bottom: 62.08%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.12%;
right: 11.79%;
top: 40.63%;
bottom: 58.21%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 73.1%;
right: 11.23%;
top: 58.65%;
bottom: 30%;

background: #BBE8FC;


/* Vector */

position: absolute;
left: 78.98%;
right: 15.09%;
top: 63.74%;
bottom: 35.11%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 78.96%;
right: 11.85%;
top: 66.42%;
bottom: 32.42%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 73.92%;
right: 22.23%;
top: 59.36%;
bottom: 38.67%;

background: #6ADB97;


/* Vector */

position: absolute;
left: 78.53%;
right: 17.62%;
top: 59.36%;
bottom: 38.67%;

background: #62B9F9;


/* Vector */

position: absolute;
left: 73.97%;
right: 22.27%;
top: 62.59%;
bottom: 31.53%;

background: #2897FA;


/* Vector */

position: absolute;
left: 75.85%;
right: 22.28%;
top: 62.61%;
bottom: 34.78%;

background: #F9C82B;


/* Vector */

position: absolute;
left: 56.63%;
right: 28.28%;
top: 34.23%;
bottom: 30.01%;

background: #2897FA;


/* Vector */

position: absolute;
left: 59.28%;
right: 30.5%;
top: 46.96%;
bottom: 50.99%;

background: #62B9F9;


/* Vector */

position: absolute;
left: 58.01%;
right: 30.03%;
top: 57.64%;
bottom: 40.3%;

background: #62B9F9;


/* Vector */

position: absolute;
left: 58.01%;
right: 34.69%;
top: 61.23%;
bottom: 36.72%;

background: #62B9F9;


/* Vector */

position: absolute;
left: 60.74%;
right: 31.96%;
top: 50.97%;
bottom: 46.98%;

background: #62B9F9;


/* Vector */

position: absolute;
left: 61.92%;
right: 33.13%;
top: 37.55%;
bottom: 54.72%;

background: #E6F6FF;


/* Vector */

position: absolute;
left: 57.53%;
right: 41.74%;
top: 29.65%;
bottom: 69.21%;

background: #2898FB;


/* Vector */

position: absolute;
left: 56.14%;
right: 43.13%;
top: 29.65%;
bottom: 69.21%;

background: #78C2FF;


/* Vector */

position: absolute;
left: 60.18%;
right: 17.92%;
top: 29.13%;
bottom: 68.58%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 88.15%;
right: 10.39%;
top: 29.02%;
bottom: 68.7%;

background: #CAF0F9;


/* Vector */

position: absolute;
left: 88.68%;
right: 10.91%;
top: 29.42%;
bottom: 69.93%;

background: #78C2FF;


/* Vector */

position: absolute;
left: 88.45%;
right: 10.68%;
top: 30.22%;
bottom: 68.7%;

background: #78C2FF;


/* Vector */

position: absolute;
left: 89.87%;
right: 8.21%;
top: 45.98%;
bottom: 50.53%;

background: #070707;


/* Vector */

position: absolute;
left: 89.57%;
right: 6.9%;
top: 49.23%;
bottom: 43.93%;

background: #E8878B;


/* Vector */

position: absolute;
left: 90.63%;
right: 8.47%;
top: 47.34%;
bottom: 49.7%;

background: #E8878B;


/* Vector */

position: absolute;
left: 90.15%;
right: 9.38%;
top: 47.77%;
bottom: 51.5%;

border: 0.5px solid #FFFFFF;
transform: rotate(-73.3deg);


/* Vector */

position: absolute;
left: 90.65%;
right: 8.56%;
top: 47.83%;
bottom: 50.83%;

background: #D6656D;


/* Vector */

position: absolute;
left: 91.81%;
right: 6.74%;
top: 48.51%;
bottom: 48.2%;

background: #E8878B;
transform: rotate(-180deg);


/* Vector */

position: absolute;
left: 90.2%;
right: 6.76%;
top: 44.62%;
bottom: 50.53%;

background: #070707;


/* Vector */

position: absolute;
left: 91.61%;
right: 8.21%;
top: 46.74%;
bottom: 52.68%;

background: #E8878B;


/* Vector */

position: absolute;
left: 91.65%;
right: 8.29%;
top: 46.92%;
bottom: 52.87%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 90.87%;
right: 9.02%;
top: 46.88%;
bottom: 52.51%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 90.74%;
right: 8.93%;
top: 47.87%;
bottom: 52.07%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 90.45%;
right: 9.42%;
top: 46.74%;
bottom: 53.06%;

background: #070707;


/* Vector */

position: absolute;
left: 90.32%;
right: 9.3%;
top: 46.55%;
bottom: 53.29%;

background: #070707;


/* Vector */

position: absolute;
left: 91.21%;
right: 8.66%;
top: 46.76%;
bottom: 53.03%;

background: #070707;


/* Vector */

position: absolute;
left: 91.08%;
right: 8.55%;
top: 46.58%;
bottom: 53.27%;

background: #070707;


/* Vector */

position: absolute;
left: 91.61%;
right: 8.3%;
top: 47.52%;
bottom: 51.97%;

border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 92.53%;
right: 7.03%;
top: 48.51%;
bottom: 51.24%;

border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 90.22%;
right: 9.56%;
top: 48.57%;
bottom: 50.82%;

border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 90.78%;
right: 8.62%;
top: 46.3%;
bottom: 52.76%;

background: #070707;
transform: rotate(-73.3deg);


/* Vector */

position: absolute;
left: 87.07%;
right: 9.83%;
top: 50.89%;
bottom: 44.28%;

background: #E8878B;


/* Vector */

position: absolute;
left: 88.41%;
right: 10.75%;
top: 52.39%;
bottom: 45.97%;

background: #D6656D;


/* Vector */

position: absolute;
left: 86.45%;
right: 12.03%;
top: 51.69%;
bottom: 44.69%;

background: #E8878B;


/* Vector */

position: absolute;
left: 86.08%;
right: 12.79%;
top: 50.58%;
bottom: 47.03%;

background: #E8878B;


/* Vector */

position: absolute;
left: 86.18%;
right: 13.47%;
top: 49.97%;
bottom: 48.43%;

background: #E8878B;


/* Vector */

position: absolute;
left: 86.68%;
right: 12.96%;
top: 51.14%;
bottom: 48.3%;

background: #E8878B;


/* Vector */

position: absolute;
left: 86.58%;
right: 12.97%;
top: 50.55%;
bottom: 48.67%;

background: #E8878B;


/* Vector */

position: absolute;
left: 86.13%;
right: 13.4%;
top: 49.9%;
bottom: 48.55%;

background: #E8878B;


/* Vector */

position: absolute;
left: 86.09%;
right: 13.49%;
top: 49.81%;
bottom: 48.61%;

background: #E8878B;


/* Vector */

position: absolute;
left: 88.54%;
right: 9.59%;
top: 49.83%;
bottom: 45.95%;

background: #FFAB2F;


/* Vector */

position: absolute;
left: 88.65%;
right: 10.46%;
top: 52.28%;
bottom: 46.06%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 87.64%;
right: 12.31%;
top: 53.8%;
bottom: 45.9%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 89.06%;
right: 8.6%;
top: 70.37%;
bottom: 27.14%;

background: #E8878B;


/* Vector */

position: absolute;
left: 89.06%;
right: 8.6%;
top: 71.98%;
bottom: 27.15%;

background: #1C3D4F;


/* Vector */

position: absolute;
left: 89.06%;
right: 8.62%;
top: 72.86%;
bottom: 27%;

background: #FFF3F3;


/* Vector */

position: absolute;
left: 90.43%;
right: 8.64%;
top: 65.46%;
bottom: 29.34%;

background: #E8878B;


/* Vector */

position: absolute;
left: 90.79%;
right: 8.5%;
top: 67.34%;
bottom: 31.89%;

background: #DD7A81;


/* Vector */

position: absolute;
left: 89.39%;
right: 8.44%;
top: 54.5%;
bottom: 31%;

background: #64C3F9;


/* Vector */

position: absolute;
left: 90.52%;
right: 8.64%;
top: 58.23%;
bottom: 31%;

background: #41B1D8;


/* Vector */

position: absolute;
left: 90.25%;
right: 7.41%;
top: 70.37%;
bottom: 27.14%;

background: #E8878B;


/* Vector */

position: absolute;
left: 90.25%;
right: 7.41%;
top: 71.98%;
bottom: 27.15%;

background: #1C3D4F;


/* Vector */

position: absolute;
left: 90.25%;
right: 7.43%;
top: 72.86%;
bottom: 27%;

background: #FFF3F3;


/* Vector */

position: absolute;
left: 91.63%;
right: 7.44%;
top: 65.46%;
bottom: 29.34%;

background: #E8878B;


/* Vector */

position: absolute;
left: 91.98%;
right: 7.31%;
top: 67.34%;
bottom: 31.89%;

background: #DD7A81;


/* Vector */

position: absolute;
left: 89.98%;
right: 7.25%;
top: 54.93%;
bottom: 31%;

background: #64C3F9;


/* Vector */

position: absolute;
left: 89.52%;
right: 7.03%;
top: 49.51%;
bottom: 43.81%;

background: #FFAB2F;


/* Vector */

position: absolute;
left: 89.64%;
right: 8.94%;
top: 53.68%;
bottom: 43.84%;

background: #FFAB2F;


/* Vector */

position: absolute;
left: 89.58%;
right: 7.57%;
top: 55.55%;
bottom: 43.49%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 89.52%;
right: 10.3%;
top: 51%;
bottom: 45.95%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 92.59%;
right: 5.45%;
top: 52.09%;
bottom: 42.32%;

background: #E8878B;


/* Vector */

position: absolute;
left: 92.97%;
right: 5.97%;
top: 53.56%;
bottom: 45.51%;

background: #D6656D;


/* Vector */

position: absolute;
left: 91.91%;
right: 5.8%;
top: 55.38%;
bottom: 42.39%;

background: #E8878B;


/* Vector */

position: absolute;
left: 92.32%;
right: 5.84%;
top: 49.59%;
bottom: 45.73%;

background: #FFAB2F;


/* Vector */

position: absolute;
left: 92.32%;
right: 7.37%;
top: 52.14%;
bottom: 47%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 92.89%;
right: 5.87%;
top: 53.51%;
bottom: 45.99%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 91.47%;
right: 7.61%;
top: 55.25%;
bottom: 43.47%;

background: #E8878B;


/* Vector */

position: absolute;
left: 91.45%;
right: 7.61%;
top: 55.2%;
bottom: 43.62%;

background: #E8878B;


/* Vector */

position: absolute;
left: 91.13%;
right: 7.91%;
top: 55.85%;
bottom: 43.43%;

background: #E8878B;


/* Vector */

position: absolute;
left: 93.43%;
right: 6.43%;
top: 55.85%;
bottom: 43.93%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 89.79%;
right: 7.97%;
top: 55.63%;
bottom: 44.11%;

background: #7988BF;


/* Vector */

position: absolute;
left: 86.81%;
right: 10.02%;
top: 52.77%;
bottom: 44.11%;

background: #A0BAEA;


/* Vector */

position: absolute;
left: 86.71%;
right: 10.11%;
top: 52.77%;
bottom: 44.11%;

background: #B8CAFC;


/* Vector */

position: absolute;
left: 87.94%;
right: 11.51%;
top: 53.94%;
bottom: 45.2%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 52.13%;
right: 37.41%;
top: 23.13%;
bottom: 60.52%;

background: #FAB6D8;


/* Group */

position: absolute;
left: 53.98%;
right: 37.48%;
top: 25.91%;
bottom: 57.58%;



/* Vector */

position: absolute;
left: 55.16%;
right: 37.88%;
top: 25.91%;
bottom: 64.71%;

background: #000000;


/* Vector */

position: absolute;
left: 58.45%;
right: 38.77%;
top: 31.8%;
bottom: 63.87%;

background: #E8878B;


/* Vector */

position: absolute;
left: 59.28%;
right: 39.97%;
top: 33.15%;
bottom: 65.39%;

background: #D6656D;


/* Vector */

position: absolute;
left: 60.42%;
right: 38.21%;
top: 32.51%;
bottom: 64.25%;

background: #E8878B;


/* Vector */

position: absolute;
left: 58.24%;
right: 40.09%;
top: 30.78%;
bottom: 65.36%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 60.68%;
right: 39.28%;
top: 34.41%;
bottom: 65.33%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 61.23%;
right: 37.97%;
top: 31.47%;
bottom: 66.92%;

background: #E8878B;


/* Vector */

position: absolute;
left: 61.81%;
right: 37.42%;
top: 30.66%;
bottom: 66.87%;

background: #60B1F4;
transform: rotate(22.33deg);


/* Vector */

position: absolute;
left: 61.18%;
right: 37.25%;
top: 32.92%;
bottom: 65.89%;

background: #C0E6FF;
transform: rotate(-67.67deg);


/* Vector */

position: absolute;
left: 61.26%;
right: 37.36%;
top: 32.66%;
bottom: 66.2%;

background: #FFFFFF;
transform: rotate(-67.67deg);


/* Vector */

position: absolute;
left: 62.43%;
right: 37.57%;
top: 31.08%;
bottom: 68.91%;

background: #EAF4FF;


/* Vector */

position: absolute;
left: 62.44%;
right: 37.53%;
top: 31.28%;
bottom: 68.55%;

background: #C0E6FF;
transform: rotate(22.33deg);


/* Vector */

position: absolute;
left: 61.48%;
right: 38.39%;
top: 32.9%;
bottom: 66.91%;

background: #60B1F4;


/* Vector */

position: absolute;
left: 62.04%;
right: 37.75%;
top: 30.89%;
bottom: 69.08%;

background: #60B1F4;
transform: rotate(22.33deg);


/* Vector */

position: absolute;
left: 62.01%;
right: 37.97%;
top: 30.88%;
bottom: 69.1%;

background: #60B1F4;
transform: rotate(22.33deg);


/* Vector */

position: absolute;
left: 61.89%;
right: 37.6%;
top: 32.05%;
bottom: 67.63%;

background: #E8878B;


/* Vector */

position: absolute;
left: 61.9%;
right: 37.65%;
top: 32.29%;
bottom: 67.4%;

background: #E8878B;


/* Vector */

position: absolute;
left: 61.89%;
right: 37.74%;
top: 32.51%;
bottom: 67.2%;

background: #E8878B;


/* Vector */

position: absolute;
left: 61.87%;
right: 37.82%;
top: 32.67%;
bottom: 67.01%;

background: #E8878B;


/* Vector */

position: absolute;
left: 61.95%;
right: 37.67%;
top: 32.3%;
bottom: 67.63%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 61.95%;
right: 37.76%;
top: 32.52%;
bottom: 67.4%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 61.9%;
right: 37.83%;
top: 32.69%;
bottom: 67.19%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 54.83%;
right: 41.34%;
top: 34.52%;
bottom: 57.58%;

background: #4D36B2;


/* Vector */

position: absolute;
left: 55.59%;
right: 40.92%;
top: 30.41%;
bottom: 63.35%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 58.36%;
right: 40.93%;
top: 33.12%;
bottom: 63.63%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 57.33%;
right: 41.7%;
top: 28.63%;
bottom: 68.79%;

background: #E8878B;


/* Vector */

position: absolute;
left: 57.64%;
right: 41.71%;
top: 29.18%;
bottom: 69.62%;

background: #D6656D;


/* Vector */

position: absolute;
left: 56.98%;
right: 42.16%;
top: 38.42%;
bottom: 57.73%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 53.98%;
right: 44.26%;
top: 32.98%;
bottom: 62.01%;

background: #E8878B;


/* Vector */

position: absolute;
left: 54.45%;
right: 44.61%;
top: 34.29%;
bottom: 64.87%;

background: #D6656D;


/* Vector */

position: absolute;
left: 54.3%;
right: 43.65%;
top: 35.93%;
bottom: 62.07%;

background: #E8878B;


/* Vector */

position: absolute;
left: 54.32%;
right: 44.02%;
top: 30.74%;
bottom: 65.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 55.7%;
right: 44.02%;
top: 33.02%;
bottom: 66.2%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 55.92%;
right: 43.34%;
top: 35.81%;
bottom: 63.04%;

background: #E8878B;


/* Vector */

position: absolute;
left: 55.92%;
right: 43.24%;
top: 35.76%;
bottom: 63.17%;

background: #E8878B;


/* Vector */

position: absolute;
left: 56.19%;
right: 42.96%;
top: 36.36%;
bottom: 63%;

background: #E8878B;


/* Vector */

position: absolute;
left: 56.43%;
right: 42.78%;
top: 35.99%;
bottom: 63.1%;

background: #E8878B;


/* Vector */

position: absolute;
left: 56.46%;
right: 42.71%;
top: 36.09%;
bottom: 63.03%;

background: #E8878B;


/* Vector */

position: absolute;
left: 54.86%;
right: 45.02%;
top: 36.35%;
bottom: 63.45%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 57.25%;
right: 41.19%;
top: 26.76%;
bottom: 70.11%;

background: #E8878B;


/* Vector */

position: absolute;
left: 57.06%;
right: 42.41%;
top: 28.2%;
bottom: 70.98%;

background: #E8878B;


/* Vector */

position: absolute;
left: 58.17%;
right: 41.68%;
top: 28.38%;
bottom: 71.08%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 58.21%;
right: 41.51%;
top: 29.17%;
bottom: 70.71%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 58.48%;
right: 41.4%;
top: 28.1%;
bottom: 71.71%;

background: #070707;


/* Vector */

position: absolute;
left: 58.36%;
right: 41.32%;
top: 27.93%;
bottom: 71.87%;

background: #070707;


/* Vector */

position: absolute;
left: 57.83%;
right: 42.06%;
top: 28.39%;
bottom: 71.43%;

background: #070707;


/* Vector */

position: absolute;
left: 57.7%;
right: 41.97%;
top: 28.21%;
bottom: 71.58%;

background: #070707;


/* Vector */

position: absolute;
left: 57.16%;
right: 41.19%;
top: 26.46%;
bottom: 71.8%;

background: #000000;


/* Vector */

position: absolute;
left: 57.14%;
right: 42.54%;
top: 27.64%;
bottom: 70.54%;

background: #000000;


/* Vector */

position: absolute;
left: 52.46%;
right: 42.94%;
top: 68.64%;
bottom: 29.52%;

background: #1F627F;


/* Vector */

position: absolute;
left: 52.56%;
right: 43.2%;
top: 61.04%;
bottom: 30.62%;

background: #55AAFF;


/* Vector */

position: absolute;
left: 54.08%;
right: 44.85%;
top: 58.83%;
bottom: 37.69%;

background: #E8878B;


/* Vector */

position: absolute;
left: 54.17%;
right: 44.89%;
top: 59.97%;
bottom: 39.05%;

background: #D6656D;


/* Vector */

position: absolute;
left: 53.69%;
right: 44.6%;
top: 56.54%;
bottom: 39.59%;

background: #E8878B;
transform: rotate(-1.24deg);


/* Vector */

position: absolute;
left: 53.69%;
right: 44.56%;
top: 56.48%;
bottom: 41.28%;

background: #070707;


/* Vector */

position: absolute;
left: 55.42%;
right: 44.37%;
top: 58.26%;
bottom: 41.05%;

background: #E8878B;


/* Vector */

position: absolute;
left: 55.47%;
right: 44.45%;
top: 58.48%;
bottom: 41.27%;

border: 0.5px solid #B73D46;


/* Vector */

position: absolute;
left: 53.51%;
right: 46.28%;
top: 58.32%;
bottom: 40.99%;

background: #E8878B;


/* Vector */

position: absolute;
left: 53.6%;
right: 46.32%;
top: 58.55%;
bottom: 41.21%;

border: 0.5px solid #B73D46;


/* Vector */

position: absolute;
left: 52.9%;
right: 47.02%;
top: 64.27%;
bottom: 33.36%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 52.82%;
right: 43.25%;
top: 66.26%;
bottom: 32%;

background: #429EEA;


/* Vector */

position: absolute;
left: 53.02%;
right: 43.57%;
top: 67.55%;
bottom: 30.9%;

background: #429EEA;


/* Vector */

position: absolute;
left: 52.7%;
right: 44.97%;
top: 66.57%;
bottom: 31.98%;

background: #E8878B;


/* Vector */

position: absolute;
left: 53.83%;
right: 45.82%;
top: 66.72%;
bottom: 32.24%;

background: #DD7A81;


/* Vector */

position: absolute;
left: 53.95%;
right: 42.33%;
top: 61.65%;
bottom: 30.93%;

background: #55AAFF;


/* Vector */

position: absolute;
left: 54.75%;
right: 43.41%;
top: 67.3%;
bottom: 31.65%;

background: #429EEA;


/* Vector */

position: absolute;
left: 54.44%;
right: 43.41%;
top: 66.46%;
bottom: 31.97%;

background: #E8878B;


/* Vector */

position: absolute;
left: 55.28%;
right: 44.35%;
top: 66.67%;
bottom: 32.3%;

background: #DD7A81;


/* Vector */

position: absolute;
left: 51.82%;
right: 44.49%;
top: 61.75%;
bottom: 30.77%;

background: #55AAFF;


/* Vector */

position: absolute;
left: 56.44%;
right: 43.42%;
top: 64.39%;
bottom: 33.48%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 54.47%;
right: 45.4%;
top: 58.7%;
bottom: 40.59%;

border: 0.5px solid #B73D46;


/* Vector */

position: absolute;
left: 54.46%;
right: 45.16%;
top: 59.66%;
bottom: 40.19%;

border: 0.5px solid #B73D46;


/* Vector */

position: absolute;
left: 56.59%;
right: 43.27%;
top: 67.3%;
bottom: 32.34%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 52.73%;
right: 47.13%;
top: 67.42%;
bottom: 32.28%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 54.19%;
right: 45.28%;
top: 66.67%;
bottom: 33.12%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 54.94%;
right: 44.91%;
top: 58.5%;
bottom: 41.27%;

background: #070707;


/* Vector */

position: absolute;
left: 54.81%;
right: 44.75%;
top: 58.28%;
bottom: 41.54%;

background: #070707;


/* Vector */

position: absolute;
left: 54.06%;
right: 45.79%;
top: 58.53%;
bottom: 41.24%;

background: #070707;


/* Vector */

position: absolute;
left: 53.93%;
right: 45.63%;
top: 58.31%;
bottom: 41.51%;

background: #070707;


/* Vector */

position: absolute;
left: 53.86%;
right: 44.3%;
top: 55.98%;
bottom: 42.18%;

background: #070707;


/* Vector */

position: absolute;
left: 55.23%;
right: 44.6%;
top: 56.57%;
bottom: 42.7%;

border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 53.76%;
right: 45.48%;
top: 58.05%;
bottom: 40.77%;

border: 0.5px solid #F9EAEC;


/* Vector */

position: absolute;
left: 54.64%;
right: 44.61%;
top: 58.05%;
bottom: 40.77%;

border: 0.5px solid #F9EAEC;


/* Vector */

position: absolute;
left: 54.52%;
right: 45.36%;
top: 58.64%;
bottom: 41.36%;

border: 0.5px solid #F9EAEC;


/* Vector */

position: absolute;
left: 55.93%;
right: 41.44%;
top: 71.28%;
bottom: 27%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 56.39%;
right: 41.46%;
top: 71.28%;
bottom: 27%;

background: #1C3D4F;


/* Vector */

position: absolute;
left: 54.85%;
right: 43.99%;
top: 70.88%;
bottom: 27.21%;

background: #E8878B;


/* Vector */

position: absolute;
left: 54.76%;
right: 44.45%;
top: 70.7%;
bottom: 27.21%;

background: #D6656D;


/* Vector */

position: absolute;
left: 49.91%;
right: 44.74%;
top: 67.02%;
bottom: 27%;

background: #346E94;


/* Vector */

position: absolute;
left: 52.78%;
right: 45.5%;
top: 69.79%;
bottom: 27.92%;

background: #1F627F;


/* Vector */

position: absolute;
left: 50.62%;
right: 46.75%;
top: 71.28%;
bottom: 27%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 53.15%;
right: 45.67%;
top: 70.88%;
bottom: 27.21%;

background: #E8878B;


/* Vector */

position: absolute;
left: 53.69%;
right: 45.6%;
top: 70.7%;
bottom: 27.3%;

background: #D6656D;


/* Vector */

position: absolute;
left: 53.92%;
right: 40.73%;
top: 67.02%;
bottom: 27%;

background: #346E94;


/* Vector */

position: absolute;
left: 55.55%;
right: 42.19%;
top: 70.55%;
bottom: 27.82%;

background: #1F627F;


/* Vector */

position: absolute;
left: 50.62%;
right: 47.22%;
top: 71.28%;
bottom: 27%;

background: #1C3D4F;


/* Vector */

position: absolute;
left: 52.46%;
right: 42.82%;
top: 64.01%;
bottom: 31.16%;

background: #B8CAFC;


/* Vector */

position: absolute;
left: 52.46%;
right: 42.82%;
top: 68.84%;
bottom: 30.8%;

background: #D5E4EF;


/* Vector */

position: absolute;
left: 54.34%;
right: 44.69%;
top: 65.49%;
bottom: 33%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 83.3%;
right: 8.03%;
top: 24.92%;
bottom: 61.53%;

background: #B7EEF7;


/* Group */

position: absolute;
left: 84.36%;
right: 8.34%;
top: 26.69%;
bottom: 56.47%;



/* Vector */

position: absolute;
left: 85.42%;
right: 9.98%;
top: 32.34%;
bottom: 57.82%;

background: #79C4BD;


/* Vector */

position: absolute;
left: 86.15%;
right: 10.05%;
top: 40.85%;
bottom: 56.47%;

background: #346E94;


/* Vector */

position: absolute;
left: 86.73%;
right: 13.18%;
top: 41.13%;
bottom: 57.79%;

border: 0.3px solid #5DABCE;


/* Vector */

position: absolute;
left: 87.03%;
right: 11.81%;
top: 29.87%;
bottom: 66.36%;

background: #E8878B;


/* Vector */

position: absolute;
left: 87.08%;
right: 11.87%;
top: 30.44%;
bottom: 67.85%;

background: #D6656D;


/* Vector */

position: absolute;
left: 86.45%;
right: 11.69%;
top: 26.95%;
bottom: 68.84%;

background: #E8878B;
transform: rotate(-3.52deg);


/* Vector */

position: absolute;
left: 86.49%;
right: 11.6%;
top: 26.69%;
bottom: 70.68%;

background: #070707;


/* Vector */

position: absolute;
left: 88.38%;
right: 11.38%;
top: 28.71%;
bottom: 70.54%;

background: #E8878B;


/* Vector */

position: absolute;
left: 88.45%;
right: 11.48%;
top: 28.94%;
bottom: 70.78%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 86.31%;
right: 13.45%;
top: 28.89%;
bottom: 70.37%;

background: #E8878B;


/* Vector */

position: absolute;
left: 86.42%;
right: 13.5%;
top: 29.14%;
bottom: 70.6%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 84.36%;
right: 13.94%;
top: 33.14%;
bottom: 57.87%;

background: #79C4BD;


/* Vector */

position: absolute;
left: 89.06%;
right: 8.34%;
top: 32.77%;
bottom: 58.56%;

background: #79C4BD;


/* Vector */

position: absolute;
left: 85.77%;
right: 14.09%;
top: 35.89%;
bottom: 62.34%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 87.37%;
right: 12.48%;
top: 28.99%;
bottom: 70.24%;

border: 0.3px solid #B73D46;


/* Vector */

position: absolute;
left: 87.27%;
right: 12.28%;
top: 30.22%;
bottom: 69.53%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 89.42%;
right: 10.09%;
top: 35.35%;
bottom: 62.58%;

border: 0.3px solid #000000;


/* Vector */

position: absolute;
left: 87.8%;
right: 12.05%;
top: 28.82%;
bottom: 70.93%;

background: #070707;


/* Vector */

position: absolute;
left: 87.66%;
right: 11.89%;
top: 28.6%;
bottom: 71.22%;

background: #070707;


/* Vector */

position: absolute;
left: 86.88%;
right: 12.96%;
top: 28.87%;
bottom: 70.89%;

background: #070707;


/* Vector */

position: absolute;
left: 86.74%;
right: 12.8%;
top: 28.65%;
bottom: 71.17%;

background: #070707;
